<h1>Add a new workout log</h1>
<form action="/workouts" method="post">
  <input type="text" name="user[workout][][name]" placeholder="Name">
  <input type="text" name="user[workout][][weight]" placeholder="Weight">
  <input type="text" name="user[workout][][sets]" placeholder="Sets">
  <input type="text" name="user[workout][][reps]" placeholder="Reps">
  <input type="submit">
</form>
