Add a new workout log
<form action"" method="">
  <input type="text" name="user[workout][][name]" placeholder="Name">
  <input type="text" name="user[workout][][weight]" placeholder="Weight">
  <input type="text" name="user[workout][][set]" placeholder="Set">
  <input type="text" name="user[workout][][reps]" placeholder="Reps">
</form>
