<h1>Create User</h1>
<form action='/signup' method='post'>
<input type="text" name="user[username]" id="username" placeholder="Username">
<input type="password" name="user[password]" id="password" placeholder="Password">
<input type="submit">
</form>