<h1>Welcome to TrackR</h1>
<h3>An application to keep track of your workouts</h3>
<form action="/login" method="post">
  <input type="text" name="user[username]" id="username" placeholder="Username">
  <input type="password" name="user[password]" id="password" placeholder="Password">
  <input type="submit">
</form>
<h3>or</h3>
<h3><a href="/signup">Signup</a></h3>