<h1>Welcome to TrackR</h1>
<h3>An application to keep track of your workouts</h3>
<form action="/users" method="post">
<input type="text" name="user[username]" id="username" value="Username">
<input type="text" name="user[password]" id="password" value="Password">
<input type="submit">
</form>
<h3>or</h3>
<h3><a href="/signup">Signup</a></h3>