 <style>
    body {
      background-image: url("./img/training-train-lime-barbell-39688.jpeg");
    }
    </style>
<h1>Welcome to Track<font color="blue">R</font></h1>
<h3>An application to keep track of your workouts</h3>
<form action="/login" method="post">
  <input type="text" name="user[username]" id="username" placeholder="Username">
  <input type="password" name="user[password]" id="password" placeholder="Password">
  <button type="submit" class="btn btn-lg btn-primary">Login</button>
</form>