<!doctype html>
<html>
  <head>
    <title>TrackR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><i class="fa fa-futbol-o" aria-hidden="true"></i> Track<font color="blue">R</font></a>
  <ul class="nav navbar-nav">

  <% if logged_in? %>
  <li><a href="/workouts/new">Add</a></li>
  <li><a href="/logout">Log Out</a></li>

  <% else %>
  <li><a href="/signup">Sign Up</a></li>
  <% end %>
  </ul>
</div>
</div>
</nav>
<div class="col-xs-offset-2">

<%= yield %> 

</div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<footer class="navbar-fixed-bottom" id="footer">
      <div class="container">
        <p class="text-muted">Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a target="_blank" href="http://www.krisnotchris.com">Kris Henderson</a></p>
      </div>
    </footer>
</body>
</html>